.box {
  position: relative;
  box-shadow 0 20px 35px rgba(0, 0, 0, 0.05)
  border-radius 10px
  background-color #ffffff

  &__content {
    position: relative;
    z-index 3
  }

  &:before {
    content ''
    position: absolute;
    z-index 2
    top: 10px
    right: 10px
    bottom: 10px
    left: 10px
    border-radius 10px
    border 1px solid #e7e7e7
  }

  &:after {
    content ''
    position: absolute;
    z-index 1
    bottom: -11px
    left: 12px
    right: 12px
    box-shadow 0 20px 35px rgba(0, 0, 0, 0.04)
    border-radius 10px

    background-color #ffffff
  }
}