.box {
  position: relative;
  padding 10px

  &__content {
    content ''
    position: relative;
    z-index 3
    width: 100%
    height: 100%
    border-radius 10px
    border 1px solid #e7e7e7
  }

  &:before {
    content ''
    position: absolute;
    z-index 2
    top 0
    right 0
    width: 100%
    height: 100%
    box-shadow 0 20px 35px rgba(0, 0, 0, 0.15)
    border-radius 10px
    background-color #ffffff
  }

  &:after {
    content ''
    position: absolute;
    z-index 1
    top 0
    bottom: -8px
    left: 12px
    right: 12px
    box-shadow 0 20px 35px rgba(0, 0, 0, 0.04)
    border-radius 10px

    background-color #ffffff
  }
}