.icon {
  display: inline-block;
  background-repeat: no-repeat
  background-position: center
  background-size: cover;

  &-list {
    display: flex;
    justify-content space-between
    &__item {
      margin: 10px
      &:first-child {
        margin-left: 0
      }
      &:last-child {
        margin-right: 0
      }
    }
  }

  &_whatsapp {

  }
}