@import "../common.styl"

.title_h2 {
  margin: 0 auto
  text-align: center
  font-family $oswaldFont
  font-size 42px
  font-weight 700
  font-style italic
  line-height 55px
  text-transform uppercase
}

.text {

  &_italic {
    font-style italic
  }

  &_bold {
    font-weight: 600
  }

  &_color {
    &_primary {
      color: $primaryColor

      &.text_underline_dashed:before {
        border-color: $primaryColor
      }
    }
  }

  &_underline {
    position: relative;

    &.text_hoverable {
      cursor: pointer

      &:hover {
        &:before {
          opacity 0
        }
      }
    }

    &_solid {

      &:before {
        content ''
        position: absolute;
        bottom: -8px
        left: 0
        width: 100%
        height: 8px
        border-bottom: 1px solid rgba(0, 0, 0, 0.4)
      }
    }

    &_dashed {

      &:before {
        content ''
        position: absolute;
        bottom: -6px
        left 1px
        right 0
        height: 8px
        border-bottom 1px dashed
      }
    }
  }
}


@media (max-width: 1050px) {
  .title_h2 {
    font-size: 32px
    line-height: 44px
  }
}

@media (max-width: 750px) {
  .title_h2 {
    font-size: 28px
    line-height: 36px
  }
}