
/* line 297 : /home/n/WebstormProjects/html-steklo-bar/src/styl/section/about-section.styl */

/* line 1 : /home/n/WebstormProjects/html-steklo-bar/node_modules/stylus/lib/functions/index.styl */

/* line 54 : /home/n/WebstormProjects/html-steklo-bar/node_modules/stylus/lib/functions/index.styl */

/* line 1 : /home/n/WebstormProjects/html-steklo-bar/src/styl/common.styl */

/* line 5 : /home/n/WebstormProjects/html-steklo-bar/src/styl/common.styl */
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  min-width: 360px;
  scroll-behavior: smooth;
}

/* line 12 : /home/n/WebstormProjects/html-steklo-bar/src/styl/common.styl */
a {
  color: inherit;
}

/* line 16 : /home/n/WebstormProjects/html-steklo-bar/src/styl/common.styl */
.row {
  display: flex;
  flex-direction: row;
}

/* line 21 : /home/n/WebstormProjects/html-steklo-bar/src/styl/common.styl */
.column {
  display: flex;
  flex-direction: column;
}

/* line 26 : /home/n/WebstormProjects/html-steklo-bar/src/styl/common.styl */
.container {
  margin: 0 auto;
  max-width: 1110px;
  width: 90%;
}

/* line 32 : /home/n/WebstormProjects/html-steklo-bar/src/styl/common.styl */
.grid_50 {
  width: 50%;
}

/* line 36 : /home/n/WebstormProjects/html-steklo-bar/src/styl/common.styl */

/* line 37 : /home/n/WebstormProjects/html-steklo-bar/src/styl/common.styl */
.hr_vertical {
  width: 1px;
  height: Calc(80%);
  background-color: #22201e;
}
@media (max-width: 750px) {

/* line 45 : /home/n/WebstormProjects/html-steklo-bar/src/styl/common.styl */
  html {
    font-size: 16px;
  }
}
@media (max-width: 600px) {

/* line 51 : /home/n/WebstormProjects/html-steklo-bar/src/styl/common.styl */
  .container {
    width: 92%;
  }
}

/* line 3 : /home/n/WebstormProjects/html-steklo-bar/src/styl/section/about-section.styl */
.about-section {
  padding: 80px 0 110px 0;
  background: #fff url("../../img/bg-about-section.jpg") center;
  background-size: cover;
}

/* line 8 : /home/n/WebstormProjects/html-steklo-bar/src/styl/section/about-section.styl */
.about-section .title_h2 {
  margin-bottom: 24px;
}

/* line 12 : /home/n/WebstormProjects/html-steklo-bar/src/styl/section/about-section.styl */
.about-section__text {
  padding: 0 80px 40px 80px;
  color: #515151;
  line-height: 27px;
  text-align: center;
}

/* line 19 : /home/n/WebstormProjects/html-steklo-bar/src/styl/section/about-section.styl */
.about-section-feature-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -15px;
}

/* line 26 : /home/n/WebstormProjects/html-steklo-bar/src/styl/section/about-section.styl */
.about-section-feature {
  margin: 15px;
  width: 255px;
  height: 300px;
}

/* line 31 : /home/n/WebstormProjects/html-steklo-bar/src/styl/section/about-section.styl */

/* line 32 : /home/n/WebstormProjects/html-steklo-bar/src/styl/section/about-section.styl */
.about-section-feature:nth-child(1) .about-section-feature__img {
  left: Calc(56%);
}

/* line 37 : /home/n/WebstormProjects/html-steklo-bar/src/styl/section/about-section.styl */

/* line 38 : /home/n/WebstormProjects/html-steklo-bar/src/styl/section/about-section.styl */
.about-section-feature:nth-child(2) .about-section-feature__img {
  left: Calc(45%);
}

/* line 43 : /home/n/WebstormProjects/html-steklo-bar/src/styl/section/about-section.styl */
.about-section-feature__img {
  position: absolute;
  z-index: 3;
  bottom: 90px;
  left: 50%;
  transform: translate(-50%, 0);
}

/* line 51 : /home/n/WebstormProjects/html-steklo-bar/src/styl/section/about-section.styl */
.about-section-feature__text {
  position: relative;
  z-index: 3;
  padding-top: 204px;
  color: #444;
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

/* line 62 : /home/n/WebstormProjects/html-steklo-bar/src/styl/section/about-section.styl */

/* line 63 : /home/n/WebstormProjects/html-steklo-bar/src/styl/section/about-section.styl */
.about-section-feature:hover .icon-container_in-corner {
  display: block;
}

/* line 68 : /home/n/WebstormProjects/html-steklo-bar/src/styl/section/about-section.styl */
.about-section-feature .icon-container_in-corner {
  display: none;
  width: 28px;
  height: 31px;
  box-shadow: 0 20px 35px rgba(0,0,0,0.05);
  border-radius: 2px 10px 2px 2px;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9b338 0%, #ffc152 100%);
}

/* line 77 : /home/n/WebstormProjects/html-steklo-bar/src/styl/section/about-section.styl */
.about-section-feature .icon-container_in-corner .icon {
  position: absolute;
  top: 8px;
  right: 10px;
}

/* line 86 : /home/n/WebstormProjects/html-steklo-bar/src/styl/section/about-section.styl */
@media (max-width: 1050px) {

/* line 87 : /home/n/WebstormProjects/html-steklo-bar/src/styl/section/about-section.styl */

/* line 88 : /home/n/WebstormProjects/html-steklo-bar/src/styl/section/about-section.styl */
  .about-section .icon-container_in-corner {
    display: block;
  }
}

/* line 94 : /home/n/WebstormProjects/html-steklo-bar/src/styl/section/about-section.styl */
@media (max-width: 750px) {

/* line 95 : /home/n/WebstormProjects/html-steklo-bar/src/styl/section/about-section.styl */
  .about-section {
    padding: 50px 0 60px 0;
  }

/* line 98 : /home/n/WebstormProjects/html-steklo-bar/src/styl/section/about-section.styl */
  .about-section .title_h2 {
    margin-bottom: 14px;
  }

/* line 102 : /home/n/WebstormProjects/html-steklo-bar/src/styl/section/about-section.styl */
  .about-section__text {
    padding: 0 0 50px 0;
  }
}
