
/* line 297 : C:\Users\n\WebstormProjects\html-steklo-bar\src\styl\section\first-section.styl */

/* line 1 : C:\Users\n\WebstormProjects\html-steklo-bar\node_modules\stylus\lib\functions\index.styl */

/* line 47 : C:\Users\n\WebstormProjects\html-steklo-bar\node_modules\stylus\lib\functions\index.styl */

/* line 1 : C:\Users\n\WebstormProjects\html-steklo-bar\src\styl\common.styl */

/* line 5 : C:\Users\n\WebstormProjects\html-steklo-bar\src\styl\common.styl */
html {
  font-family: 'Open Sans', sans-serif;
  min-width: 360px;
  scroll-behavior: smooth;
}

/* line 11 : C:\Users\n\WebstormProjects\html-steklo-bar\src\styl\common.styl */
a {
  color: inherit;
}

/* line 15 : C:\Users\n\WebstormProjects\html-steklo-bar\src\styl\common.styl */
.row {
  display: flex;
  flex-direction: row;
}

/* line 20 : C:\Users\n\WebstormProjects\html-steklo-bar\src\styl\common.styl */
.column {
  display: flex;
  flex-direction: column;
}

/* line 25 : C:\Users\n\WebstormProjects\html-steklo-bar\src\styl\common.styl */
.container {
  margin: 0 auto;
  max-width: 1110px;
  width: 90%;
}

/* line 31 : C:\Users\n\WebstormProjects\html-steklo-bar\src\styl\common.styl */
.grid_50 {
  width: 50%;
}

/* line 35 : C:\Users\n\WebstormProjects\html-steklo-bar\src\styl\common.styl */

/* line 36 : C:\Users\n\WebstormProjects\html-steklo-bar\src\styl\common.styl */
.hr_vertical {
  width: 1px;
  height: Calc(80%);
  background-color: #22201e;
}
@media (max-width: 600px) {

/* line 44 : C:\Users\n\WebstormProjects\html-steklo-bar\src\styl\common.styl */
  .container {
    width: 92%;
  }
}

/* line 3 : C:\Users\n\WebstormProjects\html-steklo-bar\src\styl\section\first-section.styl */

/* line 5 : C:\Users\n\WebstormProjects\html-steklo-bar\src\styl\section\first-section.styl */
.first-section__first-row {
  display: flex;
  justify-content: space-between;
}

/* line 10 : C:\Users\n\WebstormProjects\html-steklo-bar\src\styl\section\first-section.styl */

/* line 11 : C:\Users\n\WebstormProjects\html-steklo-bar\src\styl\section\first-section.styl */
.first-section__contact-address .contact__text {
  font-family: 'Oswald', sans-serif;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0.55px;
}

/* line 19 : C:\Users\n\WebstormProjects\html-steklo-bar\src\styl\section\first-section.styl */

/* line 20 : C:\Users\n\WebstormProjects\html-steklo-bar\src\styl\section\first-section.styl */
.first-section__contact-phone .contact__text {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: 700;
}

/* line 27 : C:\Users\n\WebstormProjects\html-steklo-bar\src\styl\section\first-section.styl */
.first-section__phone-callback-grid {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* line 33 : C:\Users\n\WebstormProjects\html-steklo-bar\src\styl\section\first-section.styl */
.first-section__text {
  display: flex;
  flex-direction: column;
  font-style: italic;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

/* line 41 : C:\Users\n\WebstormProjects\html-steklo-bar\src\styl\section\first-section.styl */
.first-section__title {
  display: flex;
  flex-direction: column;
  font-size: 55px;
  line-height: 80px;
  font-weight: 800;
}

/* line 49 : C:\Users\n\WebstormProjects\html-steklo-bar\src\styl\section\first-section.styl */
.first-section__subtitle {
  font-size: 35px;
  font-weight: 300;
  line-height: 70px;
  color: #cfcfcf;
}

/* line 56 : C:\Users\n\WebstormProjects\html-steklo-bar\src\styl\section\first-section.styl */
.first-section__btn {
  margin: 0 auto;
}
