
/* line 297 : C:\Users\n\WebstormProjects\html-steklo-bar\src\styl\section\gallery-section.styl */

/* line 1 : C:\Users\n\WebstormProjects\html-steklo-bar\node_modules\stylus\lib\functions\index.styl */

/* line 1 : C:\Users\n\WebstormProjects\html-steklo-bar\src\styl\section\gallery-section.styl */

/* line 5 : C:\Users\n\WebstormProjects\html-steklo-bar\src\styl\section\gallery-section.styl */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -13px -9px;
}

/* line 11 : C:\Users\n\WebstormProjects\html-steklo-bar\src\styl\section\gallery-section.styl */
.gallery__item {
  display: inline-block;
  margin: 13px 9px 13px 9px;
  width: 466px;
  height: 277px;
  object-fit: cover;
}
