
/* line 297 : /home/n/WebstormProjects/html-steklo-bar/src/styl/section/header.styl */

/* line 1 : /home/n/WebstormProjects/html-steklo-bar/node_modules/stylus/lib/functions/index.styl */

/* line 54 : /home/n/WebstormProjects/html-steklo-bar/node_modules/stylus/lib/functions/index.styl */

/* line 1 : /home/n/WebstormProjects/html-steklo-bar/src/styl/common.styl */

/* line 5 : /home/n/WebstormProjects/html-steklo-bar/src/styl/common.styl */
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  min-width: 360px;
  scroll-behavior: smooth;
}

/* line 12 : /home/n/WebstormProjects/html-steklo-bar/src/styl/common.styl */
a {
  color: inherit;
}

/* line 16 : /home/n/WebstormProjects/html-steklo-bar/src/styl/common.styl */
.row {
  display: flex;
  flex-direction: row;
}

/* line 21 : /home/n/WebstormProjects/html-steklo-bar/src/styl/common.styl */
.column {
  display: flex;
  flex-direction: column;
}

/* line 26 : /home/n/WebstormProjects/html-steklo-bar/src/styl/common.styl */
.container {
  margin: 0 auto;
  max-width: 1110px;
  width: 90%;
}

/* line 32 : /home/n/WebstormProjects/html-steklo-bar/src/styl/common.styl */
.grid_50 {
  width: 50%;
}

/* line 36 : /home/n/WebstormProjects/html-steklo-bar/src/styl/common.styl */

/* line 37 : /home/n/WebstormProjects/html-steklo-bar/src/styl/common.styl */
.hr_vertical {
  width: 1px;
  height: Calc(80%);
  background-color: #22201e;
}
@media (max-width: 750px) {

/* line 45 : /home/n/WebstormProjects/html-steklo-bar/src/styl/common.styl */
  html {
    font-size: 16px;
  }
}
@media (max-width: 600px) {

/* line 51 : /home/n/WebstormProjects/html-steklo-bar/src/styl/common.styl */
  .container {
    width: 92%;
  }
}

/* line 3 : /home/n/WebstormProjects/html-steklo-bar/src/styl/section/header.styl */
.header {
  height: 48px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

/* line 7 : /home/n/WebstormProjects/html-steklo-bar/src/styl/section/header.styl */
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

/* line 14 : /home/n/WebstormProjects/html-steklo-bar/src/styl/section/header.styl */
.header__contact {
  display: flex;
  align-items: center;
  min-width: 296px;
}

/* line 19 : /home/n/WebstormProjects/html-steklo-bar/src/styl/section/header.styl */
.header__contact span:not(.contact__text) {
  margin-right: 24px;
  color: #dfdfdf;
  font-size: 16px;
  letter-spacing: 0.4px;
}

/* line 27 : /home/n/WebstormProjects/html-steklo-bar/src/styl/section/header.styl */
.header .hr_vertical {
  margin: 0 40px;
}

/* line 32 : /home/n/WebstormProjects/html-steklo-bar/src/styl/section/header.styl */
.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

/* line 38 : /home/n/WebstormProjects/html-steklo-bar/src/styl/section/header.styl */
.nav__item {
  margin: 0 10px;
  height: 100%;
}

/* line 42 : /home/n/WebstormProjects/html-steklo-bar/src/styl/section/header.styl */
.nav__item:first-child {
  margin-left: 0;
}

/* line 46 : /home/n/WebstormProjects/html-steklo-bar/src/styl/section/header.styl */
.nav__item:last-child {
  margin-right: 0;
}

/* line 51 : /home/n/WebstormProjects/html-steklo-bar/src/styl/section/header.styl */
.nav__link {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
  color: #9c9c9c;
  font-size: 15px;
  letter-spacing: 0.38px;
}

/* line 60 : /home/n/WebstormProjects/html-steklo-bar/src/styl/section/header.styl */
.nav__link:before {
  display: none;
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 1px;
  background-color: #f9b337;
}

/* line 71 : /home/n/WebstormProjects/html-steklo-bar/src/styl/section/header.styl */
.nav__link:hover {
  color: #f9b337;
}

/* line 74 : /home/n/WebstormProjects/html-steklo-bar/src/styl/section/header.styl */
.nav__link:hover:before {
  display: block;
}

/* line 82 : /home/n/WebstormProjects/html-steklo-bar/src/styl/section/header.styl */
@media (max-width: 1150px) {

/* line 83 : /home/n/WebstormProjects/html-steklo-bar/src/styl/section/header.styl */

/* line 84 : /home/n/WebstormProjects/html-steklo-bar/src/styl/section/header.styl */
  .header__contact {
    min-width: 210px;
  }

/* line 87 : /home/n/WebstormProjects/html-steklo-bar/src/styl/section/header.styl */
  .header__contact span:not(.contact__text) {
    margin-right: 6px;
    font-size: 12px;
  }

/* line 92 : /home/n/WebstormProjects/html-steklo-bar/src/styl/section/header.styl */
  .header__contact .icon-list__item {
    margin: 2px;
    transform: scale(0.72);
  }

/* line 98 : /home/n/WebstormProjects/html-steklo-bar/src/styl/section/header.styl */
  .header .hr_vertical {
    margin: 0 20px;
  }

/* line 103 : /home/n/WebstormProjects/html-steklo-bar/src/styl/section/header.styl */

/* line 104 : /home/n/WebstormProjects/html-steklo-bar/src/styl/section/header.styl */
  .nav__link {
    font-size: 14px;
  }
}

/* line 110 : /home/n/WebstormProjects/html-steklo-bar/src/styl/section/header.styl */
@media (max-width: 750px) {

/* line 111 : /home/n/WebstormProjects/html-steklo-bar/src/styl/section/header.styl */

/* line 112 : /home/n/WebstormProjects/html-steklo-bar/src/styl/section/header.styl */
  .header__contact {
    min-width: 84px;
  }

/* line 115 : /home/n/WebstormProjects/html-steklo-bar/src/styl/section/header.styl */
  .header__contact span:not(.contact__text) {
    display: none;
  }

/* line 121 : /home/n/WebstormProjects/html-steklo-bar/src/styl/section/header.styl */

/* line 122 : /home/n/WebstormProjects/html-steklo-bar/src/styl/section/header.styl */
  .nav__link {
    font-size: 12px;
  }
}

/* line 129 : /home/n/WebstormProjects/html-steklo-bar/src/styl/section/header.styl */
.header__logo,
.header__contact .contact,
.burger {
  display: none;
}

/* line 136 : /home/n/WebstormProjects/html-steklo-bar/src/styl/section/header.styl */
@media (max-width: 550px) {

/* line 137 : /home/n/WebstormProjects/html-steklo-bar/src/styl/section/header.styl */
  .header__logo,
  .header__contact .contact,
  .burger {
    display: block;
  }

/* line 143 : /home/n/WebstormProjects/html-steklo-bar/src/styl/section/header.styl */
  .burger i,
  .burger i:after,
  .burger i:before {
    background-color: #fff;
  }

/* line 147 : /home/n/WebstormProjects/html-steklo-bar/src/styl/section/header.styl */
  .header__contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

/* line 152 : /home/n/WebstormProjects/html-steklo-bar/src/styl/section/header.styl */
  .header__contact .contact__text {
    font-size: 13px;
  }

/* line 156 : /home/n/WebstormProjects/html-steklo-bar/src/styl/section/header.styl */
  .header__contact .contact {
    text-align: center;
  }

/* line 158 : /home/n/WebstormProjects/html-steklo-bar/src/styl/section/header.styl */
  .header__contact .contact__text {
    padding-left: 5px;
  }

/* line 161 : /home/n/WebstormProjects/html-steklo-bar/src/styl/section/header.styl */
  .header__contact .contact .icon {
    transform: scale(0.62) translateY(4px);
    transform-origin: bottom;
  }

/* line 166 : /home/n/WebstormProjects/html-steklo-bar/src/styl/section/header.styl */
  .header__contact .icon-list {
    padding: 10px 20px 10px 0;
    margin: 0 auto;
  }

/* line 172 : /home/n/WebstormProjects/html-steklo-bar/src/styl/section/header.styl */
  .header__logo {
    width: 100px;
  }

/* line 176 : /home/n/WebstormProjects/html-steklo-bar/src/styl/section/header.styl */
  .overlay {
    position: fixed;
    z-index: 5;
    top: 0;
    right: 0;
    bottom: -500px;
    width: 100%;
    background: rgba(0,0,0,0.35);
    visibility: hidden;
    transition: 0.4s;
  }

/* line 187 : /home/n/WebstormProjects/html-steklo-bar/src/styl/section/header.styl */
  .overlay_active {
    visibility: visible;
  }

/* line 192 : /home/n/WebstormProjects/html-steklo-bar/src/styl/section/header.styl */
  .popbox_main_content {
    overflow: hidden;
    height: 100%;
    margin-left: 0;
    transition: 0.4s;
    width: 100%;
  }

/* line 199 : /home/n/WebstormProjects/html-steklo-bar/src/styl/section/header.styl */
  .popbox_main_content_active {
    margin-left: -200px;
  }

/* line 204 : /home/n/WebstormProjects/html-steklo-bar/src/styl/section/header.styl */
  .header {
    height: auto;
  }

/* line 207 : /home/n/WebstormProjects/html-steklo-bar/src/styl/section/header.styl */
  .header .hr_vertical {
    display: none;
  }

/* line 212 : /home/n/WebstormProjects/html-steklo-bar/src/styl/section/header.styl */
  .nav {
    position: fixed;
    z-index: 10;
    top: 0;
    bottom: -500px;
    right: 0;
    width: 0;
    height: auto;
    background: #fff;
    transition: ease 0.4s;
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 24px;
  }

/* line 226 : /home/n/WebstormProjects/html-steklo-bar/src/styl/section/header.styl */
  .nav_active {
    width: 200px;
  }

/* line 234 : /home/n/WebstormProjects/html-steklo-bar/src/styl/section/header.styl */
  .nav__item {
    margin: 15px auto;
    padding-left: 30px;
    width: 200px;
    height: auto;
  }

/* line 241 : /home/n/WebstormProjects/html-steklo-bar/src/styl/section/header.styl */
  .nav__link {
    width: max-content;
    font-size: 20px;
    color: #5e5e5e;
  }
}
