block about-section
    .about-section#about
        .container
            h2.title_h2 Немного о <span class="text_color_primary">нашем баре</span>
            .about-section__text Бар «Стекло» - новое концептуальное пространство, расположенное в самом центре Москвы, на Зубовском бульваре.
                | <br><br>Мы создали нечто особенное и одноверменно редкое на сегодняшний день: правильную и понятную европейскую кухню, уютную атмосферу в интерьере и очень демокртичные цены.
                | <br><br>Бар «Стекло» - это уникальное место, где можно познакомиться с работами молодых и успешных деятелей искусств – художников, скульпторов, фотографов, и многих других. Тут надо следить за обновлениями нашей афиши.
                | <br><br>Важно, что на протяжении дня бар «Стекло» радует своих гостей вкусными полноценными бизнес-ланчами, а вечерами становится площакой для различных мероприятий. В баре «Стекло» все творческие люди найдут себя и найдут единомышленников.

            .about-section-feature-list
                .about-section-feature.box
                    .icon-container_in-corner(data-popbox-target="popbox-feature-1")
                        i.icon(style="width:7px;height:16px;background-image:url(img/icon-info.png)")
                    .box__content
                        img(class="about-section-feature__img" src="img/picture-feature-1.png")
                        .about-section-feature__text Музыкальные<br>вечера


                .about-section-feature.box
                    .icon-container_in-corner(data-popbox-target="popbox-feature-2")
                        i.icon(style="width:7px;height:16px;background-image:url(img/icon-info.png)")
                    .box__content
                        img(class="about-section-feature__img" src="img/picture-feature-2.png")
                        .about-section-feature__text Опытные<br>повара

                .about-section-feature.box
                    .icon-container_in-corner(data-popbox-target="popbox-feature-3")
                        i.icon(style="width:7px;height:16px;background-image:url(img/icon-info.png)")
                    .box__content
                        img(class="about-section-feature__img" src="img/picture-feature-3.jpg")
                        .about-section-feature__text Уютная<br>атмосфера

                .about-section-feature.box
                    .icon-container_in-corner(data-popbox-target="popbox-feature-4")
                        i.icon(style="width:7px;height:16px;background-image:url(img/icon-info.png)")
                    .box__content
                        img(class="about-section-feature__img" src="img/picture-feature-4.jpg")
                        .about-section-feature__text Выставка<br>картин
