block first-section
    .first-section
        .container
            .first-section__first-row
                .contact.first-section__contact-address
                    i.icon(style="background-image: url(img/icon-placemark.png);width:20px;height:24px")
                    span.contact__text Зубовский бульвар 16/20<br>строение 1

                .first-section__logo
                    img(src="img/logo-steklo-bar.png")

                .first-section__phone-callback-grid
                    .contact.first-section__contact-phone
                        i.icon(style="background-image: url(img/icon-phone.png);width:22px;height:23px")
                        a(class="contact__text" href="tel:+7 (916) 771-87-82") +7 (916) 771-87-82
                    a.text_underline.text_underline_dashed.text_hoverable.text_color_primary(data-popbox-target="popbox-callback-2") Заказать звонок

            h1.first-section__text
                span.first-section__title <b class="text_color_primary">БАНКЕТЫ, КОРПОРАТИВЫ</b> и другие мероприятия по доступным ценам
                span.first-section__subtitle зал до 40 персон, 2 зал до 20 персон

            a.first-section__btn.btn ЗАБРОНИРОВАТЬ СТОЛИК
