block footer
    footer.footer
        .container
            .logo
                img(src="img/logo-steklo-bar.png" style="filter: brightness(0);")
            a(class="footer__policy text_underline text_underline_solid text_hoverable" data-popbox-target="popbox-policy") Политика конфиденциальности
            .author Разработка сайта <a href="https://rfim.ru/">rfim.ru</a>

