block gallery-section
    .gallery-section
        h2.title_h2 наша <span class="text_color_primary">галерея</span>
        .gallery
            img(class="gallery__item" src="img/picture-gallery-1.jpg")
            img(class="gallery__item" src="img/picture-gallery-2.jpg")
            img(class="gallery__item" src="img/picture-gallery-3.jpg")
            img(class="gallery__item" src="img/picture-gallery-4.jpg")
            img(class="gallery__item" src="img/picture-gallery-5.jpg")
            img(class="gallery__item" src="img/picture-gallery-6.jpg")
            img(class="gallery__item" src="img/picture-gallery-7.jpg")
            img(class="gallery__item" src="img/picture-gallery-8.jpg")
            img(class="gallery__item" src="img/picture-gallery-9.jpg")
            img(class="gallery__item" src="img/picture-gallery-10.jpg")
            img(class="gallery__item" src="img/picture-gallery-11.jpg")
            img(class="gallery__item" src="img/picture-gallery-12.jpg")
