block header
    header.header
        .container
            ul.nav
                li.nav__item
                    a(class="nav__link" href="") Главная
                li.nav__item
                    a(class="nav__link" href="") О нас
                li.nav__item
                    a(class="nav__link" href="") Наше меню
                li.nav__item
                    a(class="nav__link" href="") Галерея
                li.nav__item
                    a(class="nav__link" href="") Контакты
            i.hr_vertical
            .header__contact <span>Свяжитесь с нами:</span>
                .icon-list
                    i.icon-list__item.icon(style="background-image: url(img/icon-whatsapp.png);width:25px;height:25px")
                    i.icon-list__item.icon(style="background-image: url(img/icon-telegram.png);width:28px;height:23px")
                    i.icon-list__item.icon(style="background-image: url(img/icon-instagram.png);width:24px;height:25px")
