block map-contact-section
    .map-contact-section#contact
        #map-container
        .container
            .map-contact-section__box.box
                .box__content
                    h2.title_h2 Наши <span class="text_color_primary">контакты</span>
                    a(class="contact" href="tel:+7 (916) 771-87-82")
                        i.icon(style="background-image: url(img/icon-phone.png);width:27px;height:28px")
                        span.contact__text +7 (916) 771-87-82
                    a(class="contact contact_email" href="mailto:info@barsteklo.ru")
                        i.icon(style="background-image: url(img/icon-email.png);width:25px;height:19px")
                        span.contact__text info@barsteklo.ru
                    .contact.contact_address
                        i.icon(style="background-image: url(img/icon-placemark.png);width:21px;height:27px")
                        span.contact__text Зубовский бульвар 16/20<br>строение 1