block menu-section
    .menu-section
        .container
            .grid_50
                h2.title_h2 Наше <span class="text_color_primary">меню</span>
                .menu-section__text В меню представлены практически все <span class="text_italic text_color_primary text_bold">популярные блюда европейской кухни, включая салаты, бургеры, домашнюю пасту, и многое другое.</span>
                    | <br><br>Блюда любимы многими, так как гармонично сочетают в себе натуральный вкус ингредиентов и умеренное количество различных специй, приправ и соусов
                .btn скачать меню
