
/* line 297 : C:\Users\n\WebstormProjects\html-steklo-bar\src\styl\block\btn.styl */

/* line 1 : C:\Users\n\WebstormProjects\html-steklo-bar\node_modules\stylus\lib\functions\index.styl */

/* line 48 : C:\Users\n\WebstormProjects\html-steklo-bar\node_modules\stylus\lib\functions\index.styl */

/* line 1 : C:\Users\n\WebstormProjects\html-steklo-bar\src\styl\common.styl */

/* line 5 : C:\Users\n\WebstormProjects\html-steklo-bar\src\styl\common.styl */
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  min-width: 360px;
  scroll-behavior: smooth;
}

/* line 12 : C:\Users\n\WebstormProjects\html-steklo-bar\src\styl\common.styl */
a {
  color: inherit;
}

/* line 16 : C:\Users\n\WebstormProjects\html-steklo-bar\src\styl\common.styl */
.row {
  display: flex;
  flex-direction: row;
}

/* line 21 : C:\Users\n\WebstormProjects\html-steklo-bar\src\styl\common.styl */
.column {
  display: flex;
  flex-direction: column;
}

/* line 26 : C:\Users\n\WebstormProjects\html-steklo-bar\src\styl\common.styl */
.container {
  margin: 0 auto;
  max-width: 1110px;
  width: 90%;
}

/* line 32 : C:\Users\n\WebstormProjects\html-steklo-bar\src\styl\common.styl */
.grid_50 {
  width: 50%;
}

/* line 36 : C:\Users\n\WebstormProjects\html-steklo-bar\src\styl\common.styl */

/* line 37 : C:\Users\n\WebstormProjects\html-steklo-bar\src\styl\common.styl */
.hr_vertical {
  width: 1px;
  height: Calc(80%);
  background-color: #22201e;
}
@media (max-width: 600px) {

/* line 45 : C:\Users\n\WebstormProjects\html-steklo-bar\src\styl\common.styl */
  .container {
    width: 92%;
  }
}

/* line 3 : C:\Users\n\WebstormProjects\html-steklo-bar\src\styl\block\btn.styl */
.btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  max-width: 100%;
  height: 90px;
  padding: 20px 46px 20px 46px;
  box-shadow: 0 10px 18px rgba(249,179,56,0.25), 0 5px 0 #df9a1f;
  border-radius: 10px;
  background-image: linear-gradient(to top, #f9b337 0%, #ffc153 100%), linear-gradient(to top, #fa971e 0%, #fcb812 100%);
  white-space: nowrap;
  color: #2e1200;
  font-family: 'Oswald', sans-serif;
  font-size: 22px;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 1.02px;
}

/* line 26 : C:\Users\n\WebstormProjects\html-steklo-bar\src\styl\block\btn.styl */
.btn:hover {
  background-image: linear-gradient(to top, #f8a819 0%, #ffb531 100%), linear-gradient(to top, #a45c04 0%, #a07202 100%);
}
