
/* line 297 : C:\Users\n\WebstormProjects\html-steklo-bar\src\styl\block\form.styl */

/* line 1 : C:\Users\n\WebstormProjects\html-steklo-bar\node_modules\stylus\lib\functions\index.styl */

/* line 1 : C:\Users\n\WebstormProjects\html-steklo-bar\src\styl\block\form.styl */

/* line 2 : C:\Users\n\WebstormProjects\html-steklo-bar\src\styl\block\form.styl */
.form .btn {
  margin-top: 19px;
  width: 100%;
}

/* line 7 : C:\Users\n\WebstormProjects\html-steklo-bar\src\styl\block\form.styl */
.form .checkbox {
  display: block;
  margin-top: 18px;
}
