
/* line 297 : C:\Users\n\WebstormProjects\html-steklo-bar\src\styl\block\text.styl */

/* line 1 : C:\Users\n\WebstormProjects\html-steklo-bar\node_modules\stylus\lib\functions\index.styl */

/* line 47 : C:\Users\n\WebstormProjects\html-steklo-bar\node_modules\stylus\lib\functions\index.styl */

/* line 1 : C:\Users\n\WebstormProjects\html-steklo-bar\src\styl\common.styl */

/* line 5 : C:\Users\n\WebstormProjects\html-steklo-bar\src\styl\common.styl */
html {
  font-family: 'Open Sans', sans-serif;
  min-width: 360px;
  scroll-behavior: smooth;
}

/* line 11 : C:\Users\n\WebstormProjects\html-steklo-bar\src\styl\common.styl */
a {
  color: inherit;
}

/* line 15 : C:\Users\n\WebstormProjects\html-steklo-bar\src\styl\common.styl */
.row {
  display: flex;
  flex-direction: row;
}

/* line 20 : C:\Users\n\WebstormProjects\html-steklo-bar\src\styl\common.styl */
.column {
  display: flex;
  flex-direction: column;
}

/* line 25 : C:\Users\n\WebstormProjects\html-steklo-bar\src\styl\common.styl */
.container {
  margin: 0 auto;
  max-width: 1110px;
  width: 90%;
}

/* line 31 : C:\Users\n\WebstormProjects\html-steklo-bar\src\styl\common.styl */
.grid_50 {
  width: 50%;
}

/* line 35 : C:\Users\n\WebstormProjects\html-steklo-bar\src\styl\common.styl */

/* line 36 : C:\Users\n\WebstormProjects\html-steklo-bar\src\styl\common.styl */
.hr_vertical {
  width: 1px;
  height: Calc(80%);
  background-color: #22201e;
}
@media (max-width: 600px) {

/* line 44 : C:\Users\n\WebstormProjects\html-steklo-bar\src\styl\common.styl */
  .container {
    width: 92%;
  }
}

/* line 3 : C:\Users\n\WebstormProjects\html-steklo-bar\src\styl\block\text.styl */
.title_h2 {
  margin: 0 auto;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 42px;
  font-weight: 700;
  font-style: italic;
  line-height: 80px;
  text-transform: uppercase;
}

/* line 14 : C:\Users\n\WebstormProjects\html-steklo-bar\src\styl\block\text.styl */

/* line 16 : C:\Users\n\WebstormProjects\html-steklo-bar\src\styl\block\text.styl */
.text_italic {
  font-style: italic;
}

/* line 20 : C:\Users\n\WebstormProjects\html-steklo-bar\src\styl\block\text.styl */
.text_bold {
  font-weight: 600;
}

/* line 24 : C:\Users\n\WebstormProjects\html-steklo-bar\src\styl\block\text.styl */

/* line 25 : C:\Users\n\WebstormProjects\html-steklo-bar\src\styl\block\text.styl */
.text_color_primary {
  color: #f9b337;
}

/* line 27 : C:\Users\n\WebstormProjects\html-steklo-bar\src\styl\block\text.styl */
.text_color_primary.text_underline_dashed:before {
  border-color: #f9b337;
}

/* line 33 : C:\Users\n\WebstormProjects\html-steklo-bar\src\styl\block\text.styl */
.text_underline {
  position: relative;
}

/* line 36 : C:\Users\n\WebstormProjects\html-steklo-bar\src\styl\block\text.styl */
.text_underline.text_hoverable {
  cursor: pointer;
}

/* line 39 : C:\Users\n\WebstormProjects\html-steklo-bar\src\styl\block\text.styl */

/* line 40 : C:\Users\n\WebstormProjects\html-steklo-bar\src\styl\block\text.styl */
.text_underline.text_hoverable:hover:before {
  display: none;
}

/* line 46 : C:\Users\n\WebstormProjects\html-steklo-bar\src\styl\block\text.styl */

/* line 48 : C:\Users\n\WebstormProjects\html-steklo-bar\src\styl\block\text.styl */
.text_underline_solid:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(0,0,0,0.4);
}

/* line 59 : C:\Users\n\WebstormProjects\html-steklo-bar\src\styl\block\text.styl */

/* line 61 : C:\Users\n\WebstormProjects\html-steklo-bar\src\styl\block\text.styl */
.text_underline_dashed:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed;
}
