.footer {
  height: 150px // TODO: do smth
  .container {
    display: flex;
    justify-content space-between
    align-items center
  }

  &__policy {
    color #2e2e2e
    font-size 17px
    letter-spacing 0.49px
  }
}

.author {
  width: 150px;
  text-align: right;
  color #141414
  font-size 17px
  font-weight 300
  line-height 20px
  letter-spacing 0.42px

  a {
    color #008ea9
    text-decoration underline
    &:hover {
      text-decoration: none
    }
  }
}