.gallery-section {

}

.gallery {
  display: flex;
  flex-wrap: wrap
  justify-content center
  margin: -13px -9px

  &__item {
    display: inline-block
    margin: 13px 9px 13px 9px
    width 466px
    height 277px
    object-fit cover
  }
}

